/* TODO
- Fazer design responsivo */

section {
    display: block;
}

.title-review {
    text-align: center;
    font-size: 6rem;
    margin-bottom: -6rem;
    margin-top: -7rem;
}

.box-comment-review {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 5rem;
    margin-left: 8rem;
}

.comment-review {
    width: 30rem;
    height: 10rem;
    display: flex;
    object-fit: cover;
    background-color: white; 
    gap: 0.5rem;
    margin-left: 0.5rem;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transição suave para a mudança de cor */
}

.comment-review:hover{
    background-color: rgb(98, 98, 204);
    color: white;
}

h2{
    color: white;
}