html{
    background: linear-gradient(rgb(98, 98, 204), black)
}

.footer-content{
    color: white;
    text-align: center;
}

footer a {
    color: rgb(98, 98, 204);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}

.botoes {
    text-align: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Adiciona margem acima dos botões */
    margin-bottom: 20px; /* Adiciona margem abaixo dos botões */
}


.footer-content {
    color: white;
    text-align: center;
}

/* Links do rodapé */
footer a {
    color: rgb(98, 98, 204);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white; /* Muda a cor do texto quando o mouse passa por cima */
}

/* Botões */
button {
    text-align: center; /* Centraliza o texto dentro do botão */
    background-color: rgb(98, 98, 204); /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Adiciona espaço interno */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
}

button:hover {
    background-color: white; /* Muda a cor de fundo ao passar o mouse */
    color: black; /* Muda a cor do texto */
}

/* BARRINHA */

.barrinha {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.group {
    display: flex;
    flex-direction: column;
}

.sub-items {
    display: none;
    transition: all 0.3s ease; /* Adicionando transição para suavizar a animação */
}

.sub-items:hover {
    color: rgb(98, 98, 204); /* Altera a cor do texto dos itens secundários para a cor desejada ao passar o mouse */
}


.expandable {
    cursor: pointer;
}

li:last-child {
    text-align: center;
}

.expandable:hover,
.expandable:active {
    color: rgb(98, 98, 204); /* Altera a cor do texto para a cor desejada ao passar o mouse ou clicar */
}


/* teste rodape */


header {
    margin: 0;
    padding: 0;
}

#navbar {
    position: fixed; /*Torna o header fixo */
    width: 100%; /* Define a largura como 100% */
    height: 8%;
    top: 0; /* Mantém o header fixo no topo */
    z-index: 1000; /* Define a ordem de empilhamento */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 3% 8%; Ajusta o preenchimento */
    margin-bottom: 20px;
    margin-left: -0.5rem;
    /* padding-bottom: 20px; */
    background-color: rgb(61, 61, 147); /* Adiciona cor de fundo */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.inicial{
    display: flexbox;
    align-items: center;
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.inicial i{
    color: black;
    font-size: 32px;
    margin-right: 5px;
}

.inicial:hover,
.inicial:hover i {
    color: white;
}


.navegação{
    display: flex;

}

.navegação a{
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover{
    color: white;
}

#menu{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
}

.header-icons {
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
    color: black;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: white
}

body {
    padding-top: 100px; /* Ajusta o padding superior do body para compensar o espaço ocupado pelo header */
}

h1 {
    color: white;
    text-align: center;
    margin-top: 80px; /* Adiciona margem superior ao título */
    font-family: 'Protest Guerrilla', sans-serif;
    /* Adiciona uma transição suave para a mudança de cor */
    transition: color 0.3s ease;
}

h1:hover {
    color: black; /* Altera a cor para preto ao passar o mouse */
}

.sub {
    font-size: 25px; /* Tamanho da fonte */
    color: white;
    text-align: center; /* Alinhamento do texto */
    margin-top: 20px; /* Margem superior */
}



footer p {
    color: white; /* Define a cor do texto como branco */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
    text-align: center;
}

footer p:hover {
    color: rgb(98, 98, 204); /* Muda a cor do texto para roxo ao passar o mouse */
}

.footer-divider {
    width: 1px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    background-color: white; /* Cor branca */
    margin: 0 20px; /* Margem para separação dos elementos */
}

.footer-logo i:hover{
    color: white;
}

.topicbeneficios {
    display: flex;
    justify-content: space-between;
}
.beneficios {
    width: 30%; /* Ajuste conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo dos quadrados */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Adicionando transição para suavizar a mudança de cor */
    color: black; /* Cor inicial do texto */
    box-shadow: 0 500px 500px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}
.beneficios h2 {
    margin-left: -10px; /* Move um pouco para a esquerda */
}
  
.beneficios p {
    text-align: center; /* Centraliza o texto */
 }

 .beneficios:hover {
    background-color: rgb(98, 98, 204); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Carrosel barrinha */

/* Estilos para os botões de seta do Slick Carousel */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.slick-prev i,
.slick-next i {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo dos botões ao passar o mouse */
}


/* Estilos para as setas do Slick Carousel */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    color: white;
}

.slick-prev i,
.slick-next i {
    font-size: 24px;
}

.slick-prev {
    left: 20px; /* Define a posição da seta esquerda */
}

.slick-next {
    right: 20px; /* Define a posição da seta direita */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.subtitulo {
    text-align: center;
    color: lightcyan;
    font-size: 1.3rem;
    margin: 1.5rem;
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 40%;
    height: 80%;
    margin-left: 24.5rem;
}

.beneficios img {
    max-width: 100%; /* Define o tamanho máximo da imagem para 100% da largura do contêiner pai */
    max-height: 100px; /* Define a altura máxima da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Adiciona um espaço em volta da imagem para evitar o espaçamento estranho */
}



/* Video carrosel */
.playervideo {
    display: flex;
    justify-content: space-between;
}

.playervideo .video {
    width: 30%; /* Ajuste conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo dos quadrados */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Adicionando transição para suavizar a mudança de cor */
    color: black; /* Cor inicial do texto */
    box-shadow: 0 500px 500px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.playervideo .video h2 {
    margin-left: -10px; /* Reduz o nível da margem à esquerda em 10px */
}

.playervideo .video p {
    text-align: center; /* Centraliza o texto */
}

.playervideo .video:hover {
    background-color: rgb(98, 98, 204); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

/* Estilos para os botões de seta do Slick Carousel */
.playervideo .slick-prev,
.playervideo .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.playervideo .slick-prev i,
.playervideo .slick-next i {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

.playervideo .slick-prev:hover,
.playervideo .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo dos botões ao passar o mouse */
}
