html{
  background: linear-gradient(rgb(98, 98, 204), black)
}

/* teste rodape */



header {
  position: fixed; /*Torna o header fixo */
  width: 100%; /* Define a largura como 100% */
  top: 0; /* Mantém o header fixo no topo */
  z-index: 1000; /* Define a ordem de empilhamento */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 3% 8%; Ajusta o preenchimento */
  margin-bottom: 20px;
  padding-bottom: 20px;
  margin-left: -0.5rem;
  /*background-color: rgb(98, 98, 204); /* Adiciona cor de fundo */
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.inicial{
  display: flexbox;
  align-items: center;
  color: black;
  font-size: 28px;
  font-weight: 500;
}

.inicial i{
  color: black;
  font-size: 32px;
  margin-right: 5px;
}

.inicial:hover,
.inicial:hover i {
  color: rgb(98, 98, 204);
}


.navegação{
  display: flex;

}

.navegação a{
  color: black;
  font-size: smaller;
  font-weight: 500;
  margin: 0 30px;
  transition: a .55s ease;
}

.navegação a:hover{
  color: rgb(98, 98, 204);
}

.header-icons {
  margin: 0;
  padding: 0;
  margin-top: 0.8rem;
}

#menu{
  font-size: 35px;
  color: black;
  z-index: 10001;
  cursor: pointer;
}

.header-icons i{
  margin-right: 25px;
  font-size: 28px;
  cursor: pointer;
  transition: all .5s ease;
  color: black;
}

.header-icons i:hover{
  transform: translateY(-5px);
  color: rgb(98, 98, 204)
}

body {
  padding-top: 100px; /* Ajusta o padding superior do body para compensar o espaço ocupado pelo header */
}

h1 {
  color: white;
  text-align: center;
  margin-top: 80px; /* Adiciona margem superior ao título */
  /*font-family: 'Chilanka', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Protest Guerrilla', sans-serif;
  font-family: 'Anton', sans-serif;
  font-family: 'Chilanka', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Protest Guerrilla', sans-serif;*/
  font-family: 'Protest Guerrilla', sans-serif;

}

/* Professores div */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cria colunas com tamanho mínimo de 300px */
  grid-gap: 20px; /* Espaçamento entre os elementos */
}

.card {
  background-color: #f0f0f0; /* Cor de fundo dos cards */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Adiciona um preenchimento interno de 20px */
}

.card img {
  width: 100%; /* Define a largura da imagem como 100% do tamanho do card */
  height: auto; /* Mantém a proporção da imagem */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.card-text {
  margin-bottom: 20px;
}

.linkedin-link, .GitHub-link {
  display: inline-block;
  margin-right: 10px;
  color: rgb(98, 98, 204);
  text-decoration: none;
}

.Instagram-link {
  display: block; /* Transforma o link em um elemento de bloco */
  text-align: center; /* Centraliza o ícone */
  margin-top: 10px; /* Adiciona um espaçamento superior para separação */
  color: rgb(98, 98, 204);
  text-decoration: none;
}

.Instagram-link:hover {
  color: #666;
}

/* Professores div  ao passar o mouse */

.card:hover {
  background-color: rgb(98, 98, 204); /* Altera a cor de fundo ao passar o mouse */
}

.card:hover .card-body {
  color: white; /* Altera a cor do texto ao passar o mouse */
}

.card:hover .bx {
  color: white; /* Altera a cor dos ícones ao passar o mouse */
}

.card {
  transition: background-color 0.3s, color 0.3s; /* Adiciona uma transição suave */
}

.card {
  background-color: #f0f0f0; /* Cor de fundo padrão dos cards */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Adiciona um preenchimento interno de 20px */
}

.card img {
  width: 100%; /* Define a largura da imagem como 100% do tamanho do card */
  height: auto; /* Mantém a proporção da imagem */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
  color: black; /* Cor do texto padrão */
}

.card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.card-text {
  margin-bottom: 20px;
}

.linkedin-link, .GitHub-link, .Insta-link {
  display: inline-block;
  margin-right: 10px;
  color: rgb(98, 98, 204); /* Cor dos links padrão */
  text-decoration: none;
}

.Instagram-link {
  display: block; /* Transforma o link em um elemento de bloco */
  text-align: center; /* Centraliza o ícone */
  margin-top: 10px; /* Adiciona um espaçamento superior para separação */
  color: rgb(98, 98, 204); /* Cor do link padrão */
  text-decoration: none;
}


/* Footer */

.footer-content{
  color: white;
  text-align: center;
}

footer a {
  color: rgb(98, 98, 204);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}


footer a {
  color: rgb(98, 98, 204);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: white; /* Muda a cor do texto quando o mouse passa por cima */
}

footer p {
  color: white; /* Define a cor do texto como branco */
  transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
  text-align: center;
}

footer p:hover {
  color: rgb(98, 98, 204); /* Muda a cor do texto para roxo ao passar o mouse */
}

.footer-divider {
  width: 1px; /* Largura do quadrado */
  height: 100px; /* Altura do quadrado */
  background-color: white; /* Cor branca */
  margin: 0 20px; /* Margem para separação dos elementos */
}

.bx {
  color: rgb(98, 98, 204); /* Define a cor roxa para todos os ícones */
}
